/* Css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
}

.header_container{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.container{
    max-width: 1080px;
    margin: 50px auto;
}

.footer_container{
    max-width: 1080px;
    margin: 0 auto;
}

/* Generics */
header{
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body{
    font-family: sans-serif;
    padding-top: 90px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

header img{
    width: 30%;
}

footer{
    color: white;
    background-color: black;
}

/* Header */
.div_header{
    flex-basis: 30%;
    padding: 0  5px;
}

.div_header.left{
    text-align: left;
}

.div_header.right ul{
    justify-content: flex-end;
}

.logo{
    flex-grow: 1;
    text-align: center;
}

.gender, .profile{
    font-size: 16px;
    font-weight: 600;
}

/* Main */
.row{
    flex-wrap: wrap;
    gap: 15px;
}

.col{
    flex-basis: calc(100% / 3 - 10px);
    min-width: 350px;
    position: relative;
}

.col img{
    max-width: 100%;
    display: block;
}

.info_brand{
    font-size: 12px;
}

.info_name{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.info_price{
    font-size: 15px;
}

.info_price .price_less{
    margin-right: 5px;
    color: red;
    font-weight: 600;
}

.info_price .price_more{
    text-decoration: line-through;
    color: black;
}

.label{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 3px 5px;
}

.label.sale{
    background-color: red;
}

.label.sostain{
    background-color: green;
}

.label.not_sale, .price_more.not_sale, .label.not_sostain{
    display: none;
}

.col_label{
    position: absolute;
    left: 0;
    bottom: 80px;
}

.col_heart{
    padding: 10px;
    color: black;
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
}

.col_heart:hover{
    color: red;
    cursor: pointer;
}

.col_img .img_second{
    display: none;
}

.col_img:hover .img_second{
    display: block;
}

.col_img:hover .img_first{
    display: none;
}

/* Footer */
.footer_container{
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.footer_titles{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
}

.f_nav{
    font-size: 12px;
}
